.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: red;
    padding: 0 56px;

    .left-content {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 20px;
        color: white;
        font-size: 16px;
        font-weight: 500;
    }

    .image-header-center {
        img {
            height: 50px;
            width: 100px;
        }
    }

    .header-right {
        display: flex;
        gap: 20px;
        color: white;

        .user-icon {
            color: white;

        }
    }
}